
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

html {
  scroll-behavior: smooth;
}

body {

    background-color: #58CCED;
	margin: 0;
	height: 100%;
	width: 100%;
    font-family: 'Amatic SC', cursive;

}

.description-above-start {
    font-size: 20px;
}



#name-entry2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 45px;

/*    border: 3px solid yellow;
*/
}

#name-entry1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 45px;

/*    border: 3px solid yellow;
*/
}


.title {
    height: 100%;
    margin-top: 15px;
/*  border: 3px solid red;
*/}


h1 {
    text-align: center;
    font-size: 300px;
    color: white;
    font-family: 'Amatic SC', cursive;
    margin: 0px;
}



#or-word {
    font-size: 100px;

}


ul {
    list-style-type: none;
}


#name-adding-form {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
/*  border: 3px solid red;
*/  margin: 60px 0px 50px 0px;
    padding-right: 20px;
    height: 100%;
    width: 100%;
}


#p1Form {
    margin-bottom: 50px;
}

#firstName1, #firstName2 {
    display: flex;
    padding: 10px 20px 10px 10px;
    color: #014254;
    font-size: 75px;
    border: 2px solid grey;
    font-family: 'Amatic SC', cursive;

}
#AddName1, #AddName2 {
    display: flex;
    border: 2px solid #9ACD32;
    border-radius: 5px;
    padding: 5px 15px;
    color: #014254;
    font-size: 70px;
    cursor: pointer;
    background-color: #9ACD32;
    color: white;
    font-family: 'Amatic SC', cursive;

/*    text-shadow: 1px 1px 2px black;
*/}


#AddName1:hover {
    transform: scale(1.1);
    text-shadow: 2px 2px 2px #014254, 0 0 5px green, 0 0 5px purple;

}

#AddName2:hover {
    transform: scale(1.1);
    text-shadow: 2px 2px 2px #014254, 0 0 5px green, 0 0 5px purple;

}

h4 {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Amatic SC', cursive;
    font-size: 90px;
/*    border: 2px solid yellow;
*/  margin-top: 100px;
    margin-bottom: 10px;
    color: #ffffff;


}
.mystery-card {
    display: flex;
    align-items: center;
    flex-direction: column;
/*    border: 3px solid blue;
*/  font-size: 55px;
    letter-spacing: .5px;
    color: #014254;
    font-weight: 900;
    padding: 0px 0px 20px 0px;
    margin-top: 0px;
    margin-bottom: 0px;

}

p {
    margin: 15px;
}

.title-mystery-card {
    display: flex;
    align-items: center;
    flex-direction: column;
/*  border: 3px solid blue;
*/  margin-top: 50px;
    margin-bottom: 0px;
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 150px;


}


li {
    font-size: 75px;
}



.cardsontable {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
/*  border: 3px solid yellow;
*/
}

.cards-with-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
/*    border: 1px solid blue;
*/
}


.player-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
/*  border: 3px solid blue;
*/  height: 50%;
    width: 100%;
    font-family: 'Amatic SC', cursive;
    font-size: 55px;
    color: #014254;
}


.player-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
/*  border: 3px solid blue;
*/  height: 50%;
    width: 100%;
    font-family: 'Amatic SC', cursive;
    font-size: 55px;
    margin-bottom: 150px;
    color: #014254;
}




#card-facedown.hidden-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
    padding: 10px;
    height: auto;
    width: 300px;
    border-radius: 28px;
/*  box-shadow: 0 8px 6px -6px black;
*/
}

.threeCards {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: 100px 25px 25px 25px;
    padding: 10px;
    height: auto;
    width: 300px;
    border-radius: 28px;
}




.hlbuttons {
    color: #014254;
    font-size: 15px;
    border-radius: 5px;
    font-family: 'Amatic SC', cursive;

}

.highlowbuttons {
    display: inline-flex;
    flex-direction: column;
/*    border: 3px solid yellow;
*/    justify-content: space-around;
}


#Lhigh-button:hover {
    transform: scale(1.1);
    text-shadow: 2px 2px 3px #014254, 0 0 35px lime, 0 0 15px lightsteelblue;

}
#Llow-button:hover {
    transform: scale(1.1);
    text-shadow: 2px 2px 3px #014254, 0 0 5px lightpink;

}
#Mhigh-button:hover {
    transform: scale(1.1);
    text-shadow: 2px 2px 3px #014254, 0 0 35px lime, 0 0 15px lightsteelblue;

}
#Mlow-button:hover {
    transform: scale(1.1);
    text-shadow: 2px 2px 3px #014254, 0 0 5px lightpink;

}
#Rhigh-button:hover {
    transform: scale(1.1);
    text-shadow: 2px 2px 3px #014254, 0 0 35px lime, 0 0 15px lightsteelblue;

}
#Rlow-button:hover {
    transform: scale(1.1);
    text-shadow: 2px 2px 3px #014254, 0 0 5px lightpink;

}

#Lhigh-button {
    display: flex;
    justify-content: space-around;
    border: 2px solid #014254;
    padding: 10px 20px;
    color: #014254;
    font-size: 70px;
    cursor: pointer;
    background-color: #9ACD32;
    color: white;
    text-shadow: 2px 2px 3px #014254;
    margin: 10px 0px 50px 0px;


}

#Llow-button {
    display: flex;
    justify-content: space-around;
    margin: 10%;
    border: 2px solid #014254;
    padding: 10px 20px;
    color: #014254;
    font-size: 70px;
    cursor: pointer;
    background-color: #C32148;
    color: white;
    text-shadow: 2px 2px 3px #014254;
    margin: 10px 0px 50px 0px;


}

#Mhigh-button {
    display: flex;
    justify-content: space-around;
    margin: 10%;
    border: 2px solid #014254;
    padding: 10px 20px;
    color: #014254;
    font-size: 70px;
    cursor: pointer;
    background-color: #9ACD32;
    color: white;
    text-shadow: 2px 2px 3px #014254;
    margin: 10px 0px 50px 0px;


}

#Mlow-button {
    display: flex;
    justify-content: space-around;
    margin: 10%;
    border: 2px solid #014254;
    padding: 10px 20px;
    color: #014254;
    font-size: 70px;
    cursor: pointer;
    background-color: #C32148;
    color: white;
    text-shadow: 2px 2px 3px #014254;
    margin: 10px 0px 50px 0px;


}

#Rhigh-button {
    display: flex;
    justify-content: space-around;
    margin: 10%;
    border: 2px solid #014254;
    padding: 10px 20px;
    color: #014254;
    font-size: 70px;
    cursor: pointer;
    background-color: #9ACD32;
    color: white;
    text-shadow: 2px 2px 3px #014254;
    margin: 10px 0px 50px 0px;

}

#Rlow-button {
    display: flex;
    justify-content: space-around;
    border: 2px solid #014254;
    padding: 10px 20px;
    color: #014254;
    font-size: 70px;
    cursor: pointer;
    background-color: #C32148;
    color: white;
    text-shadow: 2px 2px 3px #014254;
    margin: 10px 0px 10px 0px;


}


.left-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
/*  border: 3px solid red;
*/  margin: 150px 10px 10px 10px;
    padding: 150px 10px 10px 10px;

}


.middle-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
/*  border: 3px solid blue;
*/  margin: 100px 10px 10px 10px;
    padding: 100px 10px 10px 10px;

}

.right-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
/*  border: 3px solid orange;
*/  margin: 100px 10px 100px 10px;
    padding: 100px 10px 100px 10px;

}




#start-box {
    display: flex;
    flex-direction: column;
    margin: 200px 0px;
    justify-content: flex-start;
/*  border: 3px solid lavender;
*/  align-items: center;

}


#start-button {            
    display: flex;
    border: 2px solid #014254;
    border-radius: 5px;
    padding: 10px 20px;
    color: #014254;
    font-size: 115px;
    cursor: pointer;
    background-color: coral;
    color: white;
    text-shadow: 2px 2px 3px #014254;
    margin: 10px 0px 50px 0px;


}

p.description-above-start {
    font-size: 60px;
    color: #014254;
}


#start-button:hover {
    transform: scale(1.1);
    text-shadow: 2px 2px 2px #014254, 0 0 5px green, 0 0 5px purple;
}

footer {
    font-size: 30px;
    text-align: center;
    color: #014254;
}

}






